/*========= Google Font =========*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

/*========= Guided Style =========*/
:root {
  /*Color mode HSL(hue, saturation, lightness)*/
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*========= Reset Style =========*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s; /*For animation dark mode*/
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========= Common Style =========*/
.wrap {
  width: 100%;
  height: auto;
  _overflow: hidden;
}

section,
footer {
  padding: 8em 0 1rem;
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 1024px;
}

.button {
  color: #fff;
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  background: var(--first-color);
  width: fit-content;
  padding: 0.75rem 1.563rem;
  border-radius: 8px;
  margin-top: 1.563rem;
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.section-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

/* 배경색 : var(-body-color)
로고 글자크기 : 1.15rem
로고 나뭇잎 색 : var(--first-color)
네비게이션 글자 크기 : var(--normal-font-size) */

/*============ Main Style ===========*/

/*========= 1.Header Style =========*/
.header {
  _box-shadow: 0 5px 10px #efefef;
  background: #fff;
  z-index: 1000;
}

.header.sticky {
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 2px #efefef;
}

.header .nav {
  display: flex;
  justify-content: space-between;
}

.header .nav-logo,
.footer .nav-logo {
  color: var(--title-color);
  font-size: 1.15rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  padding: 1.25em 0;
}

.header .nav-logo .nav-logo-icon,
.footer .nav-logo .nav-logo-icon {
  color: var(--first-color);
}

.header .nav-menu {
  display: flex;
  column-gap: 1.5rem;
}

.header .nav-menu .nav-list {
  display: flex;
  column-gap: 1.5rem;
  align-items: center;
}

.header .nav-menu .nav-list .nav-item.active > .nav-link {
  color: var(--first-color);
}
.header .nav-menu .nav-list .nav-item.active .nav-link::before {
  color: var(--first-color);
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  left: 0;
  bottom: 0.625rem;
  animation: ani-wid 0.7s 1;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes ani-wid {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

.header .nav-menu .nav-list .nav-link {
  color: var(--title-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  padding: 1.25rem 0;
  display: block;
  position: relative;
}

.header .nav-menu .nav-btns {
  display: flex;
  column-gap: 0.8rem;
  align-items: center;
}

.header .nav-menu .nav-icon {
  display: flex;
  color: var(--title-color);
  flex-direction: column;
  font-size: var(--h2-font-size);
}

.header .nav-menu .nav-icon.menu-icon {
  display: none;
}

/*========= 2.Home Style =========*/
.home {
  padding: 13rem 0 5rem;
}

.home .home-contents {
  display: flex;
  position: relative;
}

.main .home .home-contents > div.home-box {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main .home .home-contents > div.home-image {
  align-items: center;
}
.main .home .home-contents > div.home-image > img {
  width: 350px;
}

.home .home-contents .home-title {
  font-size: var(--big-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 4.5rem;
  margin-bottom: 1.563rem;
}

.home .home-contents .home-desc {
  color: var(--text-color);
}

.home .home-contents .home-social {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5.5rem;
}

.home .home-social .home-social-txt {
  transform: rotate(90deg);
  display: flex;
  position: relative;
  align-items: center;
  font-weight: var(--font-medium);
  color: var(--first-color);
  font-size: var(--small-font-size);
}
.home .home-social .home-social-txt::after {
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--first-color);
  position: absolute;
  margin-left: 5rem;
}

.home .home-social .home-social-links {
  display: flex;
  flex-direction: column;
}
.home .home-social .home-social-link {
  color: var(--first-color);
  font-size: 1.15rem;
}

/*========= 2.About Style =========*/
.about .about-contents {
  display: flex;
  column-gap: 7rem;
}

.about .about-contents .about-box {
  width: 50%;
}

.about .about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .about-img img {
  width: 380px;
}

.about .about-txt .about-desc {
  margin: 1.563rem 0;
}

.about .about-txt .about-details {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.about .about-txt .about-detail {
  font-size: var(--small-font-size);
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}

.about .about-txt .about-btn {
  color: var(--first-color);
  display: flex;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
  margin-top: 1.563rem;
  align-items: center;
}

/*========= 3.Step Style =========*/
.title-center {
  text-align: center;
}

.step .step-wrap {
  width: 100%;
  background-color: var(--first-color);
  border-radius: 1rem;
  padding: 3.5rem 2.5rem;
}

.step .section-title {
  color: #fff;
  margin-bottom: 3.5rem;
}

.step .step-boxes {
  display: flex;
  justify-content: space-between;
}

.step .step-box {
  background-color: #fff;
  width: 30%;
  padding: 2rem 3rem;
  border-radius: 1rem;
}

.step .step-box h3 {
  font-weight: var(--font-medium);
  font-size: var(--h2-font-size);
  background-color: var(--first-color);
  padding: 0.5rem;
  border-radius: 0.2rem;
  color: #fff;
  width: fit-content;
}

.step .step-box h4 {
  margin: 1.125rem 0;
  color: var(--title-color);
}

.step .step-box p {
  font-size: var(--small-font-size);
  _font-weight: var(--font-medium);
}

/*========= 4.Products Style =========*/
.products .products-desc {
  text-align: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

.products .img-boxes {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 2rem;
  margin-bottom: 2.5rem;
}
.products .img-box {
  width: 30%;
  _padding: 2rem;
}

.products .img-box img {
  width: 60%;
  transform: translateX(30px);
  transition: all 0.3s ease;
}

.products .img-box:hover img {
  transform: translate(30px, -30px);
}

.products .color {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.products .color img {
  width: 60%;
}

.products .color-circle {
  width: 8rem;
  height: 8rem;
  background-color: var(--first-color-lighten);
  border-radius: 50%;
  display: block;
  position: absolute;
  transform: translateX(-10px);
}

.products .products-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.products .products-txt .txt {
  font-style: normal;
  font-weight: var(--font-semi-bold);
  font-size: var(--small-font-size);
}

.products .img-box i {
  background: var(--first-color);
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: #fff;
  display: block;
}

/*========= 5.Question Style =========*/

.question {
  background: var(--first-color-lighten);
}

.question .question-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 1rem;
  margin: 2.5rem 0;
  align-items: flex-start;
}

.question .question-box {
  background: #fff;
  width: calc(50% - 0.5rem);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.4s ease;
}

.question .question-box:hover {
  box-shadow: 0 2px 8px #cfcfcf;
}

.question .question-header {
  display: flex;
  padding: 1rem;
}

.question .question-header i {
  margin-right: 0.5rem;
  font-size: 1.25rem;
  color: var(--title-color);
  transition: all 0.3s;
}

.question .question-header h3 {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.question .question-answer {
  width: 100%;
  padding: 0 1rem;
  font-size: var(--small-font-size);
  _display: none;
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.question .question-box.active {
  background: var(--first-color);
}

.question .question-box.active .question-header i,
.question .question-box.active .question-header h3,
.question .question-box.active .question-answer {
  color: #fff;
}

.question .question-box.active .question-header i {
  transform: rotate(135deg);
}
.question .question-box.active .question-answer {
  _display: block;
  height: auto;
  padding: 1rem;
}

/*========= 6. Contact Style =========*/
.contact .contact-contents {
  display: flex;
}
.contact .company-info {
  width: 45%;
}
.contact .input-info {
  width: 55%;
  padding: 0 0 0 3rem;
}

.contact div.txt h3 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}
.contact div.txt span {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.contact .contact-tel {
  margin: 2rem 0;
}

.contact .form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.contact .form p {
  width: 100%;
  position: relative;
}

.contact .form p label {
  position: absolute;
  top: 1rem;
  left: 0;
  transition: all 0.3s;
}
.contact .form p input,
.contact .form p textarea {
  width: 100%;
  padding: 1rem 1rem 1rem 0;
  border: none;
  border-bottom: 1px solid var(--text-color-light);
  color: var(--text-color);
  resize: none;
  outline: 0;
}

.contact .form p .input:focus + label {
  top: -0.5rem;
}

/* placeholder-shown : placeholder가 보는 것을 체크한다. 
만약 사용자가 값을 입력하면 placeholder가 보이지 않는다 */

.contact .form p input:not(:placeholder-shown).input:not(:focus) + label {
  top: -0.5rem;
}

.contact .form p textarea {
  height: 10rem;
}

/*========= 7. Footer Style =========*/
.footer .footer-contents {
  display: flex;
}

.footer .footer-item {
  _border: 1px solid;
  width: 25%;
}

.footer .footer-item:nth-child(1) {
  width: 30%;
}

.footer .nav-logo {
  padding: 0;
}

.footer .footer-title {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.footer .footer-item:nth-child(1) .footer-title {
  margin: 2rem 0 1.5rem;
}
.footer .footer-item:not(:first-child) {
  padding: 2rem;
}
.footer .btn-box {
  display: flex;
  padding: 0.8rem 1rem;
  background: var(--first-color-lighten);
  align-items: center;
  border-radius: 0.5rem;
  justify-content: space-between;
}
.footer .btn-box em {
  font-size: var(--small-font-size);
  font-style: normal;
  color: var(--text-color);
}
.footer .btn-box .button {
  margin: 0;
  font-size: var(--small-font-size);
  padding: 0.8rem;
}

.footer .footer-item p {
  font-size: var(--small-font-size);
  margin-top: 0.75rem;
}

.footer .footer-item .footer-social-box {
  margin-top: 0.75rem;
  display: flex;
  column-gap: 0.75rem;
}

.footer .footer-item .footer-social-box a {
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 0.2rem;
}

.footer .footer-item .footer-card-box {
  display: flex;
  column-gap: 0.5rem;
  margin-top: 0.75rem;
}

.footer .footer-item .footer-card-box img {
  width: 35px;
}

.footer .copy {
  padding: 7rem 0 2rem;
  text-align: center;
}

.footer .copy p {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

/*========= Memo =========*/
/* 1. 박스, 텍스트 그림자 효과 */
.box {
  width: 100px;
  height: 100px;
  background: yellow;
  box-shadow: 10px 10px;
  /* 박스와 글자에 그림자 효과를 표현한다. 첫번째 값은 x축, 두번째 값은 y축, 세번째 값은 번짐, 네번째는 그림자 색을 나타낸다 */
}
